.card{
  text-align:center;
  width: 50%;
  left: 25%;
  background-color: #000000A0 !important;
}
body{
  font-family: 'Lucida Console';
}
h1{
  text-align: center;
  font-family: 'Lucida Console';

}

@media screen and (max-width: 900px)
{
  .card{
    text-align:center;
    width: 90%;
    left: 5%;
  }
}